<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>геймификация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}" />
  </head>

  <body>
    <div class="log">
      <img src="{{ url_for('static', filename='img/Group 12.png') }}" class="loh" />
      <img src="{{ url_for('static', filename='img/last_dance.png') }}" class="ggwp" /><a
        href="{{ url_for('s2index') }}"
        class="duhota"
      ></a>
    </div>
    <div>
      <footer class="footer">
        <div class="footer-content">
          <div class="footer-title">LOBACHEVSKY GAME</div>
          <div class="footer-company">GORKYCODE2.0</div>
          <div class="footer-year">2025</div>
        </div>
      </footer>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
