/*====================== Base ellement ======================*/

hr {
  margin-bottom: 28px;
  margin-top: 28px;
  border-color: #e6e6e6;
}








::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .2s linear;
          transition: opacity .2s linear;
}
::-moz-placeholder {
  opacity: 1;
  transition: opacity .2s linear;
}
/* Firefox 19+ */
:-moz-placeholder {
  opacity: 1;
  transition: opacity .2s linear;
}
/* Firefox 18- */
:-ms-input-placeholder {
  opacity: 1;
  transition: opacity .2s linear;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
}
:focus::-moz-placeholder {
  opacity: 0;
}
/* Firefox 19+ */
:focus:-moz-placeholder {
  opacity: 0;
}
/* Firefox 18- */
:focus:-ms-input-placeholder {
  opacity: 0;
}
.error ::-webkit-input-placeholder {
  color: #ff3333;
}
.error ::-moz-placeholder {
  color: #ff3333;
}
/* Firefox 19+ */
.error :-moz-placeholder {
  color: #ff3333;
}
/* Firefox 18- */
.error :-ms-input-placeholder {
  color: #ff3333;
}














.error input,
.error textarea {
  border-color: #ff3333 !important;
  color: #ff3333;
}
.form-group--placeholder-fix.error label.error {
  color: #ff3333;
}
.form-group--placeholder-fix.error label.placeholder {
  opacity: 1;
}








/*====================== Base block ======================*/










/* news */
.aside-form-title {
  font-weight: 600;
  margin-bottom: 10px;
}
.aside-form-box {
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #ededed;
}
.aside-form-box .wrap-check {
  min-width: 0;
}
.aside-form-box.no-border-bottom {
  border-bottom: none;
}







/*====================== Navigation ======================*/


@media (max-width: 1280px) {
  .news-first .image-lg {
    height: 370px;
  }
  .news-first .news-title {
    font-size: 1.8em;
    line-height: 1.1em;
  }
}
@media (max-width: 1200px) {
  .news-first .image-lg {
    height: 315px;
  }
}
@media (max-width: 991px) {
  .header-wiget-list li {
    margin-top: 6px;
  }
  .docs-preview-text {
    height: auto;
  }
  .docs-preview-text:after {
    display: none;
  }
  .header-user {
    float: left !important;
    margin-left: 15px;
    margin-bottom: 20px;
  }
}

.open-modal {
  cursor: pointer;
}
.open-modal:hover {
  color: #23527c;
}
.modal-open .modal,
.modal.in {
  z-index: 2147473677 !important;
}
.modal-backdrop {
  z-index: 2147473657 !important;
}
@media (min-width: 1700px) {
  .modal-wide .modal-dialog {
    width: 1650px;
  }
}
@media (max-width: 1700px) {
  .modal-wide .modal-dialog {
    width: 1400px;
  }
}
@media (max-width: 1500px) {
  .modal-wide .modal-dialog {
    width: 1200px;
  }
}
@media (max-width: 1300px) {
  .modal-wide .modal-dialog {
    width: 1100px;
  }
}
@media (max-width: 1120px) {
  .modal-wide .modal-dialog {
    width: 1000px;
  }
}
@media (max-width: 1020px) {
  .modal-wide .modal-dialog {
    width: 800px;
  }
}
@media (max-width: 820px) {
  .modal-wide .modal-dialog {
    width: 500px;
  }
}
@media (max-width: 520px) {
  .modal-wide .modal-dialog {
    width: 300px;
  }
}
.modal-wide .modal-body {
  overflow: auto;
}
/* ==== modal ==== */
.modal-ok {
  text-align: center;
}
.modal-ok .btn {
  padding-left: 40px;
  padding-right: 40px;
}
.modal-ok {
  font-size: 18px;
}
.modal-wrap {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 800;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
     transition: all 500ms ease-in-out;
}
.modal-wrap.active {
  visibility: visible;
  opacity: 1;
}
.modal-wrap .modal-blok {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  max-width: 650px;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
       -o-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  padding: 30px;
  letter-spacing: normal;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
     transition: all 500ms ease-in-out;
}
.modal-wrap .modal-blok.active {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}
.modal-blok .close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
     transition: all 200ms ease-in-out;
}
.modal-blok .close-modal:hover {
  color: rgba(0, 0, 0, 0.9);
}
.modal-blok h4 {
  color: #767676;
  font-size: 16px;
  margin-top: 20px;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-content {
  padding: 25px;
  border-radius: 0;
  background: #f4f4f4;
}
.modal .close {
  background: transparent !important;
  text-indent: -9999px;
  width: 15px;
  height: 15px;
  position: absolute;
  opacity: 1;
  margin: 0;
  top: 18px;
  right: 18px;
  outline: 0 !important;
  border: 0 !important;
}
.modal .close:after,
.modal .close:before {
  background: url(../img/icon/sprite.svg) no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  -webkit-transition: opacity .2s linear;
       -o-transition: opacity .2s linear;
          transition: opacity .2s linear;
}
.modal .close:after {
  background-position: -320px -95px;
  opacity: 0;
}
.modal .close:before {
  background-position: -320px -55px;
  opacity: 1;
}
.modal .close:hover:after {
  opacity: 1;
}
.modal .close:hover:before {
  opacity: 0;
}
.modal-title {
  font-size: 24px !important;
  font-weight: 500 !important;
  color: #333333;
  line-height: 1.25;
}
.modal-title--big {
  font-size: 20px;
  font-weight: 700;
}
.modal-header,
.modal-body,
.modal-footer {
  border: 0;
}
.modal-header {
  padding-bottom: 27px;
}


/* ==== datepiker ==== */
.datepiker-wrap {
  position: relative;
  padding: 0 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e5e5e5;
}
.tempust-wrap {
  max-width: 600px;
  margin: 0 auto;
}
.tempust {
  position: relative;
  padding-bottom: 45px;
}
.tempust .dates {
  overflow: hidden;
}
.tempust .weak-wrap,
.tempust .day-wrap {
  position: relative;
  display: table;
  width: 100%;
}
.tempust .day-wrap {
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  -o-transition: -o-transform 500ms ease-in-out;
     transition: transform 500ms ease-in-out;
}
.tempust .day,
.tempust .weekday {
  display: block;
  width: 14.2857142857%;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}
.tempust .weekday {
  float: left;
  color: #b3b3b3;
  font-size: 0.8em;
}
.tempust .day {
  position: relative;
  float: left;
  padding: 10px 23px;
  color: #333333;
  font-size: 1.13em;
}
.tempust .day .day-ell {
  border-radius: 50%;
}
.tempust .day[data-event] .day-ell {
  cursor: pointer;
  background-color: #0575bc;
  color: #ffffff;
}
.tempust .inactive {
  color: #bdbdbd;
}
.tempust .header {
  display: table;
  padding-left: 20px;
  padding-bottom: 20px;
}
.tempust .month,
.tempust .year {
  padding: 0 10px;
  float: left;
  margin-right: 40px;
}
.tempust .btn.dropdown-toggle.btn-default {
  color: #323232;
  font-size: 1.15em;
  padding: 2px 0 2px 10px;
}
.tempust .year .btn.dropdown-toggle.btn-default {
  width: 120px;
}
.tempust .month .btn.dropdown-toggle.btn-default {
  width: 150px;
}
.tempust .btn-group.bootstrap-select {
  width: auto !important;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}
.tempust .btn.dropdown-toggle.btn-default:hover,
.tempust .btn.dropdown-toggle.btn-default:focus,
.tempust .btn.dropdown-toggle.btn-default:active,
.tempust .open > .dropdown-toggle.btn-default {
  background-color: rgba(255, 255, 255, 0);
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.datepiker-wrap .next-show,
.datepiker-wrap .prew-show {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  color: #808080;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
   -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
     transition: all 200ms ease-in-out;
}
.datepiker-wrap .next-show i,
.datepiker-wrap .prew-show i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}
.datepiker-wrap .prew-show {
  left: 5px;
}
.datepiker-wrap .next-show {
  right: 5px;
}
.datepiker-wrap .next-show:hover,
.datepiker-wrap .prew-show:hover {
  color: #ffffff;
  border: 1px solid #0575bc;
  background-color: #0575bc;
}
.tempust .event {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 160px;
  width: 340px;
  padding: 20px 28px;
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  z-index: 100;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
       -o-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.tempust .event::before,
.tempust .event::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 100%;
  border: 20px solid transparent;
  border-bottom: 20px solid #e5e5e5;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
       -o-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.tempust .event::after {
  border-bottom: 20px solid #ffffff;
  bottom: -webkit-calc(100% - 2px);
  bottom: calc(100% - 2px);
}
.tempust .event .ev-date {
  color: #B2B2B2;
  margin-top: 0;
  margin-bottom: 5px;
}
.tempust .event.active {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 767px) {
  .datepiker-wrap {
    padding: 0 15px;
  }
  .tempust {
    padding-bottom: 65px;
  }
  .tempust .header {
    padding-left: 0px;
  }
  .tempust .btn-group.bootstrap-select {
    margin-right: 20px;
  }
  .datepiker-wrap .next-show,
  .datepiker-wrap .prew-show {
    top: 85%;
  }
  .datepiker-wrap .prew-show {
    left: 25%;
  }
  .datepiker-wrap .next-show {
    right: 25%;
  }
  .tempust .day {
    padding: 10px 18px;
    font-size: 1.15em;
  }
  .tempust .event {
    top: 140px;
    left: 50% !important;
    width: 280px;
    padding: 15px 15px;
  }
  .tempust .event::before,
  .tempust .event::after {
    content: none;
  }
}
@media (max-width: 540px) {
  .tempust .day {
    padding: 8px 8px;
    font-size: 1em;
  }
}
/* ==== aside ==== */

@media (max-width: 767px) {
  .header-sub-nav h1 {
    font-size: 2em;
  }
  .header-sub-nav h2 {
    font-size: 1.6em;
  }
  .pd-top-80 {
    padding-top: 40px !important;
  }
  .pd-bottom-80 {
    padding-bottom: 40px !important;
  }
  .news-first h2 {
    font-size: 1.4em;
  }
  .news-card {
    margin-bottom: 30px;
  }
  .news-card .news-title {
    font-size: 1em;
  }
  .news-card img {
    display: none;
  }
  .beta-version {
    font-size: .84em;
  }
  .beta-body a {
    display: inline-block;
  }
  .friend-block h4 {
    min-height: inherit;
  }
  .menu-text {
    margin-right: 14px;
    font-size: .7em;
    vertical-align: text-top;
  }
  .nav-tabs-services > li {
    width: 50%;
  }
  .nav-tabs-services > li > a {
    height: 90px;
  }
}
@media (max-width: 1200px) {
  .news-image-sm {
    max-height: 103px;
  }
  .news-image-md {
    max-height: 164px;
  }
}
@media (max-width: 992px) {
  .site-map__list-link {
    margin-top: 25px;
  }
  .contacts-elem__heading.icon {
    padding-left: 30px;
  }
  .contacts-elem__heading.icon:before {
    left: 0;
  }
  .news-header .news-image {
    display: none;
  }
  .news-image-md {
    max-height: none;
  }
  .news-image-sub {
    display: none;
  }
  .top-nav {
    overflow: hidden;
  }
}




/* fixes */

.post-content.text-dark ul li {
  margin: 0px 0px 10px 0px;
}
.post ul:first-of-type li::before {
  display: none;
}
.post > img {
  float: left;
  margin: 0px 30px 70px 0px;
}

.no-list-image li::before {
  display: none !important;
}
.margin-fix {
  margin-left: -28px;
}
.date-fix .date {
  display: block;
}
.archive-search {
  display: none;
}
.archive-search,
.keywords {
  display: none;
}


.calendar--prev-arrow i,
.calendar--next-arrow i {
  position: relative;
}
.calendar--prev-arrow i {
  right: 2px;
}
.calendar--next-arrow i {
  right: -2px;
}




.btn-calendar,
a.btn-calendar {
  font-weight: 500;
  display: inline-block;
  border-radius: 25px;
  color: #333333;
  text-decoration: none;
  padding: 14px 25px;
  background-color: #e6e6e6;
}
.btn-calendar:hover,
a.btn-calendar:hover {
  background-color: #f4f4f4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*text error modal*/
.text-error__form-control {
  word-break: break-word;
}
.text-error-modal {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.text-error-modal .modal-header {
  margin-bottom: 25px;
  padding: 0 15px;
  padding-right: 20px;
}
.text-error-modal .modal-title {
  font-weight: 500;
  color: #333;
}
.text-error-modal .modal-body {
  padding: 0 15px;
}
.text-error-modal .control-label {
  text-align: left;
  font-weight: 500;
  color: #333;
}
.text-error-modal .close {
  top: 35px;
  right: 40px;
}


@media screen and (max-width: 1024px) {
  .friend-block h4 {
    width: auto;
    margin-bottom: 0;
  }

  #event_2.custom-tabs-content,
  .nav-tabs .custom-tab-item--calendar {
    display: none !important;
  }

  .main-section--list-nav {
    padding-bottom: 0;
    margin-bottom: 15px;
  }

  h4.foot-head {
    margin-bottom: 25px;
  }
  footer {
    padding: 30px 0;
  }
  footer .list {
    padding-top: 0;
    margin-bottom: 0;
  }
  footer .list li {
    width: 32%;
    display: inline-block;
    vertical-align: top;
  }
}

@media screen and (max-width: 768px) {
  footer .list li {
    width: 48%;
  }
  .footer__border-bottom {
    padding-top: 25px;
  }
}

@media screen and (max-width: 480px) {
  .footer-icon-list {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  footer .footer-icon-list li {
    margin-right: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  footer .list li {
    width: 100%;
  }
  .well-lg {
    padding: 20px 20px;
    margin-bottom: 0;
  }
}
