.covid-block {
    margin-top: 23px;
    text-align: center;
    background-color: #e94b3d;
    color: #fff;
    text-transform: uppercase;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.covid-block a{
    color: #fff;
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.covid-block a:hover{
    text-decoration: none;
}
@media (max-width: 767px){
    .covid-block {
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
        margin-bottom: 30px;
    }
}

.main-page .covid-block{
    display: none;
}
.main-page .covid-block-main{
    display: flex;
    margin-top: -1px;
}

.press-news-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.press-news-article__img{
    width: 160px;
    height: 120px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.press-news-article__img img{
    max-width: 150%;
}
.press-news-article__info{
    display: flex;
    flex-direction: column;
    width: calc(100% - 190px);
    color: #848e99;
    text-transform: uppercase;
}
.press-news-article__info-top{
    margin-bottom: 20px;
}
.press-news-article__date{
    font-size: 14px;
    margin-right: 30px;
    position: relative;
}
.press-news-article__date:after{
    content: '';
    background: #c9cfd6;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -4px;
}
.press-news-article__catefory{
    font-size: 12px;
    font-weight: 700;
}
.press-news-article__title{
    width: 100%;
    text-transform: none;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 25px;
}
.press-news-article__title:hover{
    color: #e94b3d;
}
@media (max-width: 767px){
    .press-news-article__img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .press-news-article__img img{
        width: 100%;
    }
    .press-news-article__info{
        width: 100%;
    }
}



.home-press-center{
    margin-bottom: 35px;
}
.home-press-center__img{
    margin-bottom: 20px;
}
.home-press-center__date{
    margin-bottom: 15px;

}
.home-press-center__title{
    margin-top: 0px !important;
    margin-bottom: 0px;
}
.materials-section{
    padding-top: 45px;
}
.materials__title{
    font-size: 24px;
    font-weight: 700;
}
.materials-item{
    color: #14171e;
    margin-bottom: 40px;
}
.materials-item__img{
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    height: 200px;
}
.materials-item__img img{
    max-width: 100%;
    transition: 0.3s;
}
.materials-item:hover .materials-item__img img{
    transform: scale(1.07);
}
.materials-item:hover .materials-item__title{
    color: #e94b3d;
}
.materials-item__title{
    font-size: 16px;
    line-height: 22px;
    min-height: 105px;
    font-weight: 700;
    width: 100%;
    display: block;
}
.materials-item__date{
    color: #858e9b;
    font-size: 16px;
    display: block;
}

.map-city__group:empty{
    display: none;
}
.interval-calendar {
    background: #fff;
    padding: 30px;
    margin-bottom: 15px;
}

.interval-calendar__title {
    font-size: 19px;
    color: #14171e;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 22px;

}

.interval-calendar__control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.interval-calendar__input, .interval-calendar__input-news {
    width: calc(100% - 68px);
    height: 54px;
    border: 1px solid #dadde0;
    padding-left: 20px;
    padding-right: 37px;
    background: url(../img/calendar__input.png) no-repeat center right 20px;
    font-size: 16px;
    color: #14171e;
    border-radius: 4px;
    outline: none;
}

.interval-calendar__discharge {
    width: 54px;
    height: 54px;
    border: 1px solid #dadde0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    outline: none;
}

.event-line_no {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 684px;
}

.event-line_no__ico {
    margin-bottom: 47px;
}

.event-line_no__title {
    font-size: 19px;
    color: #14171e;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 19px;
}

.event-line_no__description {
    font-size: 15px;
    color: #848e99;
}

.ui-widget.ui-widget-content {
    border: 0px;
    padding: 30px 40px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 25px 0px rgba(132, 142, 153, 0.35);
}

.ui-datepicker .ui-datepicker-header {
    border-radius: 0px;
    background: none;
    border: 0px;
}

.ui-datepicker .ui-datepicker-title {
    font-weight: 400;
    background: #f2f2f2;
    padding: 8px 12px;
    font-size: 16px;
    color: #7c8396;
    margin-right: auto;
    width: auto;
    display: inline-block;
    margin-left: 0px;
    line-height: 16px;
    border-radius: 4px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-closed {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    border: 1px solid #919aa3;
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover, .ui-datepicker .ui-datepicker-closed:hover {
    background: #848e99;
    color: #fff;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next i {
    font-size: 10px;
}

.ui-datepicker .ui-datepicker-closed i {
    font-size: 12px;
}

.ui-datepicker-data {
    line-height: 21px;
    text-align: center;
    font-size: 19px;
    color: #14171e;
    padding: 9px 15px;
    background: #f2f2f2;
    border-radius: 40px;
    font-weight: 700;
}

.ui-datepicker-reset {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #848e99;
    cursor: pointer;
}

.ui-datepicker-reset img {
    margin-right: 12px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0px solid #c5c5c5;
    background: #fff;
    font-weight: normal;
    color: #454545;
    padding: 11px 9px;
    text-align: center;
    border-radius: 35px;
    font-size: 15px;
    font-weight: 700;
}

.ui-datepicker th {
    font-size: 13px;
    color: #7c8396;
    font-weight: 700;
}

.ui-datepicker-today .ui-state-default {
    background: #f2f2f2;
}

.ui-state-default.ui-state-default:hover, .ui-state-default.ui-state-active {
    background: #406cdb;
    color: #fff;
}

.ui-datepicker-main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaecee;
}

/* #117702 */
#map-city{
    width: calc(50vw + 190px);
    height: 650px;
}
.mpz{
    width: 100%;
}
.mpz__search{
    width: 100%;
    position: relative;
    margin-bottom: 12px;
}
.mpz__search input{
    height: 60px;
    border-radius: 4px;
    width: 100%;
    outline: none;
    padding-left: 30px;
    padding-right: 60px;
    border: none;
}
.mpz__submit{
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: #7c8396;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}
.mpz__search input::placeholder{
    letter-spacing: 0.16px;
    font-size: 16px;
    opacity: 0.6;
    color: #7c8396;
}
.mpz__content{
    height: 578px;
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
}
.mpz__header{
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #e2e3e5;
}
.mpz__title{
    color: #14171e;
    font-size: 18px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
}
.mpz{
    height: 100%;
}

.mpz__cat{
    padding-left: 15px;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    font-weight: 700;
    color: #848e99;
}
.mpz__cat i.mark-tab__mark, .mpz__cat i.mark-tab__mark {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    height: 7px;
    width: 7px;
    margin-top: -4px;
    left: 0;
    border-radius: 7px;
}
.mpz__item{
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    padding-top: 16px;
    padding-bottom: 15px;
    display: block;
    text-decoration: none;
}
.mpz__item:after{
    left: 30px;
    right: 30px;
    bottom: 0;
    content: '';
    position: absolute;
    background-color: #f8f8f8;
    height: 1px;
}
.mpz__name{
    font-size: 16px;
    color: #14171e;
    line-height: 21px;
    font-weight: 700;
}
.mpz__scroll{
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
    overflow: auto;
}
.mpz__content .map-city__panel{
    position: absolute;
    z-index: 6;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
.mpz__content .map-city__content{
    padding: 30px;
}
.map-city{
    height: 650px;
    margin-bottom: 0;
}
.mpz__box{
    position: relative;
    height: 100%;
    display: none;
}
.mpz__box.active{
    display: block;
}
.mpz__back{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMBAMAAACtsOGuAAAAAXNSR0IB2cksfwAAAC1QTFRFAAAAeoWVfIOWfIOWfIOWfIOWfYKVfIOWgICPfIOXfIOVfIOXe4SXfIOWfIOW3V0xYQAAAA90Uk5TADDP7//AYKAQkIB/n/DQhG/HQgAAADlJREFUeJxjYGBgVGRgYBB2ZWBgc6lgYEhxZ2DgdFnAwFDixgAlOF02AMkUHwaQkhNAUhaomIHxIQDaQQhMliyDMQAAAABJRU5ErkJggg==');
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-right: 1px solid #d5dae0;;
    height: 60px;
    min-width: 60px;
}
.mpz__item.mpz__item--next{
    font-size: 16px;
    position: relative;
}
.mpz__next{
    position: absolute;
    top: 50%;
    right: 32px;
    width: 5px;
    height: 9px;
    transform: translateY(-50%);
    background-size: cover;
    background-position: center center;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJBAMAAAAIg/utAAAAAXNSR0IB2cksfwAAACpQTFRFAAAAe4SXfYKUfIOXe4SXgICWbZKSe4SWfYKWgICcfIOVe4SUe4SWfIOYhLfqpAAAAA50Uk5TAFs3aZUiB3yLEow+mUp0rLNAAAAAI0lEQVR4nGMQYmBgMAlgYEjvZGDgXJ7AwLDnApgG8UHiQHkAePAGuZ3AD8UAAAAASUVORK5CYII=');
}
@media (max-width: 767px){
    #map-city, .map-city {
        height: 500px;
    }
    #map-city{
        width: 100%;
    }
}
.mpz__text{
    color: #848e99;
    font-size: 16px;
}
.map-city__address .address{
    font-weight: 700;
    display: block;
}
.map-city__address{
    margin-bottom: 25px;
}

.tabs-container__content li a {
    padding-left: 40px !important;
}
.tabs-container__content li a .mark-tab__mark{
    left: 20px !important;
}

.media-mayor{
    background: #363c4d;
    padding: 90px 0px;
    color: #fff;
}
.media-mayor .tabs-nav-wrap{
    border-bottom: 1px solid rgba(213, 218, 224, 0.15);
}
.media-mayor .tabs-container__content{
    background: #363c4d;
}
.media-mayor .tabs-container__content li a{
    background: #363c4d;
}
.media-mayor .media-mayor .tabs-nav-wrap .nav-tabs > li{
    color: #a9abb1;
}
.media-mayor .tabs-nav-wrap .nav-tabs > li.active a, .media-mayor .tabs-nav-wrap .nav-tabs > li:hover a{
    color: #fff !important;
    border-bottom: 4px solid #fff !important;
}
.video-main-page{

}
.video-main-page .wrap-video-and-btn > a{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 9;
    left: 0px;
    top: 0px;
}
.video-main-page .wrap-media-video{
    border-radius: 5px;
}
.video-main-page .media-box__text{
    position: absolute;
    left: 30px;
    bottom: 10px;
    z-index: 5;
    min-height: auto;
}
.video-main-page .media-box__text .media-title{
    font-size: 19px;
    color: #ffffff;
    opacity: 1;
}
.media-box-all{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #5d626f;
    height: auto;
}
.media-box-all .media-box__text{
    min-height: auto;
    padding-bottom: 0px;
}
.media-box-all .media-title{
    line-height: 24px;
    color: #fff;
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 15px !important;
}
.media-box-all .media-title:hover{
    text-decoration: underline;
    opacity: 1;
}
.media-box-all .media-bottom-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.media-box-all .media-date{
    position: relative;
    font-size: 15px;
    color: #a9abb1;
}
.media-box-all .media-icon{
    font-size: 15px;
    color: #a9abb1;
    display: flex;
    align-items: center;
}
.media-box-all .media-icon svg{
    margin-left: 20px;
}


@media (max-width: 767px){
    .info_on_signboard {
        box-sizing: border-box;
        background-size: cover;
        background-position: right;
        height: auto;
        padding: 40px 10px;
    }
    .info_on_signboard__title{
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }
}

.link-auth a.link-auth-gos {
    display: block;
    min-width: 0;
    max-width: 384px;
    margin: 0 auto 30px;
    /* pointer-events: none; */
}

.link-auth a.link-auth-no {
    display: inline-block;
    min-width: 0;
    border-bottom: 1px solid #F7BBB5;
    margin: 0 auto;
}

.link-auth {
    text-align: center;
}

.footer{
    margin-top: 0px;
}


.signboard{
    width: 100%;
    height: 420px;
    background-size: cover !important;
    padding-left: 55px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
    position: relative;
    margin-top: 90px;
  }
  .signboard:before{
      content: '';
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      position: absolute;
      background: #000;
      opacity: 0.5;
  }
  .signboard__title{
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  .signboard__text{
    position: relative;
    z-index: 1;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 30px;
  }
  @media (max-width: 767px){
    .signboard {
        box-sizing: border-box;
        height: auto;
        padding: 40px 10px;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    .signboard__title{
        font-size: 24px;
        line-height: 25px;
        text-align: center;
    }
    .signboard__text{
        font-size: 16px;
        line-height: 21px;
        text-align: center;
    }
}
.widget-slider{
    margin-left: auto;
    margin-right: auto;
    max-width: 385px;
    min-height: 480px;
}
@media (max-width: 767px){
    .widget-slider .slick-slide, .widget-slider,
    .widget-slider{
        height: 425px;
        min-height: 425px;
    }
}
@media (max-width: 767px){
    .service-pop-preview .inner.pdox{
        padding-left: 0 !important;
    }
}

.error .help-block {
    color: #ff3333;
}

#news-search .interval-calendar__input-news
{
    width: 100% !important;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: none;
}
.fc-day-grid-container {
    height: 400px !important;
}
.fc-unthemed td.fc-today{
    background: none;
}
.fc-unthemed td.fc-today span{
    height: 40px;
}

.layer-top.panel-small {
    height: 400px !important;
}

.layer-top-open.open-panel-small .header {
    padding-top: 400px  !important;
}

.directory__info .directory__column:not(:first-child) b,
.directory__table td:not(:first-child) b{
    font-weight: normal;
}
.container .clearfix .main .post-content .text-block .short-text-menu ul li a{
    background-color: #ffffff;
}
.no--margin-top {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 1px;
}